*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html, body{
    display: grid;
    height: 100%;
    place-items: center;
    background: black;
}

.btn a{
    position: relative;
    height: 70px;
    display: block;
    width: 220px;
    background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #44ce7b);
    text-align: center;
    border-radius: 10px;

}

.btn a span{
    height: 88%;
    width: 96%;
    background: #111;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:6px;
    line-height: 62px;
    color: #f5f5f5;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}


.btn a:hover{
    animation: animate 0.4s linear infinite;
}

@keyframes animate {
    100%{
        filter: hue-rotate(-360deg);
    }
}